@import "global/colours";
@import "global/fonts";

h1, h2, h3, h4, h5 {
    color: $c-dark;
    
    font-weight: $w-display;
    font-size: $s-large;

    margin: 0 0 20px 0;
    padding: 0;
}

h2 {
    font-size: $s-medium;
}

h3, h4, h5 {
    font-size: $s-small;
}
