@import "global/colours";
@import "global/fonts";
@import "sectional/updates";

#content {
    margin: 137px 0 60px 520px;
    width: 500px;

    a {
        border-bottom: 1px dashed $c-mid;

        &:hover {
            border-bottom: 1px solid $c-mid;
        }
    }
    
    h1, h2, h3, h4 {
        color: $c-light;
    }

    ul {
        list-style: none;
        line-height: 21px;
        margin: 0 0 20px 0;
        padding: 0;
    }

    dl {
        margin: 0 0 20px 0;
        padding: 0;
        
        dt {
            color: $c-light;
            float: left;
            width: 120px;
        }
    }
}
