{% if page.collection != null and page.section != null %}
{% assign collection = site.collections | where: "label", page.collection | first %}
{% assign docs = collection.docs | sort: "order" | where: "section", page.section %}
{% assign count = docs | size %}
{% if count > 1 %}
<nav id="documents">
  <ul>
    {% for doc in docs %}
    {% if page.url == doc.url %}
    {% assign class = "active" %}
    {% else %}
    {% assign class = "" %}
    {% endif %}
    <li>
      <a href="{{ doc.url }}" class="{{ class }}">
        {{ doc.title }}
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>
{% endif %}
{% endif %}
