{% if page.collection != null and page.section != null %}
{% assign section = site.data.projects[page.collection].sections[page.section] %}
{% assign docs = site.collections[page.collection].docs | where: "section", page.section | sort: "sort" %}
{% assign count = docs | size %}
{% if count > 1 %}
<nav id="documents">
  <ul>
    {% for doc in docs %}
    {% if page.url == doc.url %}
    {% assign class = "active" %}
    {% else %}
    {% assign class = "" %}
    {% endif %}
    <li>
      <a href="{{ doc.url }}" class="{{ class }}">
        {{ doc.title }}
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>
{% endif %}
{% endif %}
